
.picture-tm{
  // font-family: "Proxima Nova", sans-serif;
  height: 600px;
  width: 100%;
  padding-top: 200px;
  color: #928272;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  // color: white;


}
.banner{
  // cursor: url("https://res.cloudinary.com/dezfv3vmn/image/upload/v1675959917/Doriane%20Chatelain/petit_picto_xluzfh.png"), pointer;
  color: #928272;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  @media screen and (max-width: 400px) {
    color: #000000;
  }
  &__title{
    font-size: 50px;
    color: #928272;
    @media screen and (max-width: 400px) {
      color: #000000;
    }
  }
  &__content{
    font-size: 20px;
    font-weight: bold;
    @media screen and (max-width: 400px) {
      color: #000000;
    }
  }
  &__link{
    font-size: 20px;
    color: #928272;
    @media screen and (max-width: 400px) {
      color: #000000;
    }
    &:hover{
      color:#fbA8A8;
    }
  }
}
#teddymuller{
  //background-image: url(https://res.cloudinary.com/dezfv3vmn/image/upload/v1762700398/Domaine/automne_nrpwrj.png);
  //background-repeat: no-repeat;
  //background-size: cover;
  background-color: #F7F3F4;
}

.btn-malt{
  font-family:'Courier New', Courier, monospace;
  font-weight:bold;
  background-color:  #1AABAC;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  opacity: 1;
  &:hover{
    opacity: 0.5;
  }
  &:after{
    color: #fbA8A8;
  }
}
