
<div class="container banner" id="teddymuller">
  <div class="">

  </div>
</div>



<div class="container service" id="service">
<div class="hero">
  <video id="bgVideo" autoplay loop muted playsinline class="background-video">
    <source src="https://res.cloudinary.com/dezfv3vmn/video/upload/v1762973411/Domaine/video-eau_rfr20s.mov" type="video/mp4">
  </video>
  <div class="content">
  <br><br><br><br>
    <h1>DOMAINE MOULIN DU TEMPLE</h1>
    <br>
    <p>« Le murmure de l’eau apaise là où les mots échouent. »</p>

    <button id="soundBtn">🔊 Activer le son</button>
    <br><br><br>
  <ul class="cards1">
    <li class="card1">
      <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1762700836/Domaine/He%CC%81bergement_-_2_f394re.png" alt="" class="card1__img card1__img--full">
      <h4 class="card1__title">Evenement</h4>
      <p>Une expérience sur mesure, selon vos envies ! <br> Mariage/Fêtes religieuses, Anniversaire, Séminaire, Dîner de gala, Départ à la retraite, Location des espaces .. </p>
    </li>
    <li class="card1">
      <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1762699470/Domaine/He%CC%81bergement_lrmmix.png" alt="" class="card1__img card1__img--full">
      <h4 class="card1__title">Hébergement</h4>
      <p>Creation of paper supports, from the business card, to the flyer through the display and the window sticker.</p>
    </li>
    <li class="card1">
      <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1762700836/Domaine/He%CC%81bergement_-_3_m9zwl2.png" alt="" class="card1__img card1__img--full"></a>
      <h4 class="card1__title">Shooting</h4>
      <p>Immortaliser un évènement ! <br> Photographie/Film (grossesse, portrait..), Tournage, Lancement de produit..</p>
    </li>
    <li class="card1">
      <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1762703320/Domaine/He%CC%81bergement_g93tby.png" alt="" class="card1__img card1__img--full"></a>
      <h4 class="card1__title">Collaboration</h4>
      <p>Nous sommes à l'écoute pour des collaborations !</p>
    </li>
  </ul>
</div>

</div>
</div>



<div class="container separation">
  <p>"Réservez les gîtes directement sur airbnb"</p>
</div>
<div class="container realisation" id="realisation">
  <ul class="cards">
    <li class="card">
      <a href="#0" role="button" data-target="#modal" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1762703116/Domaine/LE_GI%CC%82TE_-_5_t9bhti.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" role="button" data-target="#modal2" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1762703115/Domaine/LE_GI%CC%82TE_-_2_cdpogn.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" role="button" data-target="#modal3" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1762703115/Domaine/LE_GI%CC%82TE_-_3_c3zuzy.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
    <li class="card">
      <a href="#0" role="button" data-target="#modal4" data-toggle="modal"><img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1762703028/Domaine/LE_GI%CC%82TE_-_1_y6uynw.png" alt="" class="card__img card__img--full"></a>
      <%# <h4 class="card__title"><a href="#" class="" target="_blank">LadyBird</a></h4> %>
    </li>
  </ul>
  <div class="modal" id="modal" role="dialog">
    <div class="modal-content">
      <div class="cardpage">
        <p></p>
        <div class="swiper container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198167/Doriane%20Chatelain/plaquettes/PLAQUETTE%20LAVERIE/1_muippj.png" alt="" class="">
            </div>
            <div class="swiper-slide" id="">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198166/Doriane%20Chatelain/plaquettes/PLAQUETTE%20LAVERIE/2_tipitp.png" alt="" class="">
            </div>
            <div class="swiper-slide" id="">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198167/Doriane%20Chatelain/plaquettes/PLAQUETTE%20LAVERIE/3_z3p5qb.png" alt="" class="">
            </div>
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198167/Doriane%20Chatelain/plaquettes/PLAQUETTE%20LAVERIE/4_qtncmg.png" alt="" class="">
            </div>
            <div class="swiper-slide">
              <video controls><source src="https://res.cloudinary.com/dezfv3vmn/video/upload/v1676198168/Doriane%20Chatelain/plaquettes/PLAQUETTE%20LAVERIE/5_s0feuo.mp4" type="video/mp4" class="videomp4"></video>
            </div>
            <div class="swiper-slide">
              <video controls><source src="https://res.cloudinary.com/dezfv3vmn/video/upload/v1676198168/Doriane%20Chatelain/plaquettes/PLAQUETTE%20LAVERIE/6_xugcc4.mp4" type="video/mp4" class="videomp4"></video>
            </div>
          </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
      </div>
    </div>
  </div>
  <div class="modal" id="modal2" role="dialog">
    <div class="modal-content">
      <div class="cardpage">
        <p></p>
        <div class="swiper container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198228/Doriane%20Chatelain/plaquettes/PLAQUETTE%20SAYM/1_sxuprp.png" alt="" class="">
            </div>
            <div class="swiper-slide" id="">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198228/Doriane%20Chatelain/plaquettes/PLAQUETTE%20SAYM/2_ye6r5g.png" alt="" class="">
            </div>
            <div class="swiper-slide" id="">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198228/Doriane%20Chatelain/plaquettes/PLAQUETTE%20SAYM/3_o3yyi5.png" alt="" class="">
            </div>
          </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
      </div>
    </div>
  </div>
  <div class="modal" id="modal3" role="dialog">
    <div class="modal-content">
      <div class="cardpage">
        <p></p>
        <div class="swiper container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198133/Doriane%20Chatelain/plaquettes/PLAQUETTE%20IAD/1_ieu0vu.png" alt="" class="">
            </div>
            <div class="swiper-slide" id="">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198133/Doriane%20Chatelain/plaquettes/PLAQUETTE%20IAD/2_axy3m2.png" alt="" class="">
            </div>
            <div class="swiper-slide" id="">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198133/Doriane%20Chatelain/plaquettes/PLAQUETTE%20IAD/1_ieu0vu.png" alt="" class="">
            </div>
            <div class="swiper-slide">
              <video controls><source src="https://res.cloudinary.com/dezfv3vmn/video/upload/v1676198134/Doriane%20Chatelain/plaquettes/PLAQUETTE%20IAD/PLAQUETTE_3_oayrdp.mp4" type="video/mp4" class="videomp4"></video>
            </div>
          </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
      </div>
    </div>
  </div>
  <div class="modal" id="modal4" role="dialog">
    <div class="modal-content">
      <div class="cardpage">
        <p></p>
        <div class="swiper container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198012/Doriane%20Chatelain/plaquettes/PLAQUETTE%20ESTHE%CC%81TIQUE/plaquette_esthetique_yun0fb.png" alt="" class="">
            </div>
          </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
      </div>
    </div>
  </div>
  <div class="modal" id="modal5" role="dialog">
    <div class="modal-content">
      <div class="cardpage">
        <p></p>
        <div class="swiper container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198038/Doriane%20Chatelain/plaquettes/PLAQUETTE%20CAT/1_ekaixz.png" alt="" class="">
            </div>
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198038/Doriane%20Chatelain/plaquettes/PLAQUETTE%20CAT/2_zpfjlw.png" alt="" class="">
            </div>
          </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
      </div>
    </div>
  </div>
  <div class="modal" id="modal6" role="dialog">
    <div class="modal-content">
      <div class="cardpage">
        <p></p>
        <div class="swiper container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198113/Doriane%20Chatelain/plaquettes/PLAQUETTE%20EVENTS2SPAIN/plaquette_events2spain_ovrgzv.png" alt="" class="">
            </div>
          </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
      </div>
    </div>
  </div>
  <div class="modal" id="modal7" role="dialog">
    <div class="modal-content">
      <div class="cardpage">
        <p></p>
        <div class="swiper container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676198197/Doriane%20Chatelain/plaquettes/PLAQUETTE%20REVES/plaquette_reves_q0vpfp.png" alt="" class="">
            </div>
          </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
      </div>
    </div>
  </div>
  <div class="modal" id="modal10" role="dialog">
    <div class="modal-content">
      <div class="cardpage">
        <p></p>
        <div class="swiper container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676274910/Doriane%20Chatelain/plaquettes/PLAQUETTE%20PERSO/1_b3tbxq.png" alt="" class="">
            </div>
            <div class="swiper-slide">
              <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1676274910/Doriane%20Chatelain/plaquettes/PLAQUETTE%20PERSO/2_inyzxe.png" alt="" class="">
            </div>
          </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#0" class="btn btn-close" role="button" data-dismiss="dialog"></a>
      </div>
    </div>
  </div>
</div>
<div class="container aboutme" >
  <div class="doriane" >
    <p id="about">Notre rêve se réalise jour après jour.
      <br><br>
      Rencontrer, partager, offrir des moments inoubliables.
      <br><br>
      Développer ce domaine tout en respectant son histoire.
    </p>
  </div>
  <div class="doriane-pict">
    <img src="https://res.cloudinary.com/dezfv3vmn/image/upload/v1762972340/Domaine/domaine-MDT_z9x0qv.jpg" alt="" class="avatar-xxlarge">
  </div>
</div>

<script>
  window.onload = () => {
    //on récupère tous les boutons d'ouverture de modale
    const modalButtons = document.querySelectorAll("[data-toggle=modal]");
    for(let button of modalButtons){
      button.addEventListener("click", function(e){
        //on empeche la navigation
        e.preventDefault();
        //on recupère le data target
        let target = this.dataset.target
        //on recupère la bonne modale
        let modal = document.querySelector(target);
        // on affiche la modale
        modal.classList.add("show");
        // on récupère les boutons de fermeture
        const modalClose = modal.querySelectorAll("[data-dismiss=dialog]");
        for(let close of modalClose){
          close.addEventListener("click", () => {
            modal.classList.remove("show");
          });
        }
        // ongère la fermeture sur la zone grise
        modal.addEventListener("click", function() {
          this.classList.remove("show");
        });
        // on evite la propagation du clic d'un enfant a son parent
        modal.children[0].addEventListener("click",
        function(e){
          e.stopPropagation();
        })
      });
    }
  }


  //swiper
const swiper = new Swiper('.swiper', {
  // Optional parameters
  // direction: 'vertical',
  loop: false,
  autoHeight: true,


  // pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});

</script>

<script>
  const video = document.getElementById("bgVideo");
  const soundBtn = document.getElementById("soundBtn");

  soundBtn.addEventListener("click", () => {
    video.muted = !video.muted;
    soundBtn.textContent = video.muted ? "🔊 Activer le son" : "🔇 Couper le son";
  });
</script>
